/*!
 *  font-friends-fu 1.0.0 by Komica20160704@github.com
 *  License - MIT License
 */

@font-face {
  font-family: 'FriendsFu';
  src: url('../fonts/FriendsFu.oft?v=1.0.0');
  src: url('../fonts/FriendsFu.oft?v=1.0.0') format('opentype'), url('../fonts/FriendsFu.woff2?v=1.0.0') format('woff2'), url('../fonts/FriendsFu.woff?v=1.0.0') format('woff'), url('../fonts/FriendsFu.ttf?v=1.0.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}
